#!/usr/bin/env python

PACKAGE = "dvs_data_tools"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("visualization", str_t, 0,
"Visualization type: batch, number_of_events, time, experimental", "batch")

gen.add("undistorEvents", bool_t, 0,
"Apply event undistortion due to camera lens", False)

gen.add("rotateEvents", bool_t, 0,
"Rotate events (x and y axis)", False)

gen.add("filterFlag", bool_t, 0,
"Filter events on the border", False)

gen.add("nEventsFrame", int_t, 0,
"Number of events to render an event-image", 2000,  100, 500000)

gen.add("nEvents", int_t, 0,
"Number of events per message", 400,  100, 500000)

gen.add("deltaTime", double_t, 0,
"Period to accumulate events for an event-image", 0.025,  0.001, 1.0)

gen.add("gammaActivated", bool_t, 0,
"Activate gamma", False)

gen.add("gamma", double_t, 0,
"gamma value ", 1.0, 0.0, 1.0)

exit(gen.generate(PACKAGE, "eventFrame_node", "dvs_data_tools"))
