<launch>
  <!-- rosbag player-->
  <!--node pkg="rosbag" type="play" name="player" args="/media/juan/Disk1/juan/Dataset/uzg-rpg/events/EventCameraDataset/shapes_6dof.bag"/-->

  <!-- event visualization -->
  <node name="eventFrame_node" pkg="dvs_data_tools" type="eventFrame_node" output="screen">
    <remap from="events_topic" to="/dvs/events"/>
    <remap from="events_frame" to="/dvs/events_frame"/>
    <remap from="events" to="/dvs/events_hf"/>
    <param name="visualization" value="experimental"/>
    <param name="displayType" value="blackwithe-non-polarity"/>
    <param name="backgroundColor" value="black"/>
    <param name="nEventsFrame" value="2000"/>
    <param name="nEvents" value="400"/>
    <param name="deltaTime" value="0.025"/>
  </node>

  <node name="image_view_events" pkg="image_view" type="image_view">
  	<remap from="image" to="/dvs/events_frame"/>
  </node>
</launch>
