<launch>

  <node pkg="dvs_data_tools" name="events_txt2bag_node" type="txt2bag.py" output="screen"> 
    <param name="path_to_events" value="/media/juan/Disk1/juan/Dataset/GRVC/events/vid2e/2020-05-22-Miguel/imgs/events.txt"/>
    <param name="path_to_image_timestamps" value="/media/juan/Disk1/juan/Dataset/GRVC/events/vid2e/2020-05-22-Miguel/imgs/timestamps.txt"/>
    <param name="path_to_images" value="/media/juan/Disk1/juan/Dataset/GRVC/events/vid2e/2020-05-22-Miguel/imgs/imgs/"/>
    <param name="path_to_save_bag" value="/media/juan/Disk1/juan/Dataset/GRVC/events/vid2e/2020-05-22-Miguel/"/>
    <param name="leading_zeros" value="8"/>
    <param name="video_rate" value="23"/>
  </node>
  
</launch>
